.container-fluid
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 Assessments
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th Personality
              %th User
              %th Created At
              %th
          %tbody
            - @assessments.each do |assessment|
              %tr
                %td= assessment.type_name || "Incomplete"
                %td= assessment.user ? assessment.user.name : "None"
                %td= assessment.created_at.strftime("%m/%d/%y %I:%M %p")
                %td
                  - if assessment.finished
                    = link_to "View", assessment_path(assessment), target: :_blank
