.panel-pane
  %h1.channel_name Preview the capabilities MensHealth.com could have
  .channel-image
    .img
      %a(href="/")
        - image = image_path "preview.jpg"
        - description = "women with personality"
        %img(typeof="foaf:Image" src="#{image}" width="650" height="412" alt="#{description}")
        %noscript
          &lt;img typeof="foaf:Image" src="#{image}" width="650" height="412" alt="#{description}" /&gt;
      %span.primary-tag
        %a(href="http://www.menshealth.com/tags/personality" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="")
          Personality
    .channel-content
      .article-title#title-node-275101
        %a(href="/")
          What's Your Gym Personality?
      .byline-container
        %span.byline-wrapper
          %span(class="byline-role") By
          %span(class="field-author")
            %a(href="http://www.menshealth.com/author/erin-weaver" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="")
              Erin Weaver
      %p.date
        %span(property="dc:date dc:created" content="2015-12-04T16:40:32-05:00" datatype="xsd:dateTime")
          4 hours ago
      .field-dek Find out how to best achieve your maximum performance
    .clearfix
  .channel-image
    .img
      %a(href="http://www.menshealth.com/fitness/battle-ropes-pushups")
        %img(typeof="foaf:Image" src="http://www.menshealth.com/sites/menshealth.com/files/styles/zeus_homepage_tile_large/public/articles/2015/12/instafit-3.png?itok=fDdDtMqF" width="650" height="412" alt="battle ropes and pushups arm workout")
        %noscript
          &lt;img typeof="foaf:Image" src="http://www.menshealth.com/sites/menshealth.com/files/styles/zeus_homepage_tile_large/public/articles/2015/12/instafit-3.png?itok=fDdDtMqF" width="650" height="412" alt="battle ropes and pushups arm workout" /&gt;
      %span.primary-tag
        %a(href="http://www.menshealth.com/tags/instafit" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="")
          instafit
    .channel-content
      .article-title#title-node-275101
        %a(href="http://www.menshealth.com/fitness/battle-ropes-pushups")
          The Cardio Workout That Gives You an Epic Arm Pump
      .byline-container
        %span.byline-wrapper
          %span(class="byline-role") By
          %span(class="field-author")
            %a(href="http://www.menshealth.com/author/bj-gaddour" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="")
              BJ Gaddour
      %p.date
        %span(property="dc:date dc:created" content="2015-12-04T16:40:32-05:00" datatype="xsd:dateTime")
          1 day ago
      .field-dek No weights involved!
    .clearfix
