.modal.fade.demo-modal
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal")
          %span &times;
        %h4.modal-title Sharing Unavailable
      .modal-body
        This is a demo that is not officially supported by Traitify or Men's Health. Refrain from spreading its awesomeness.
